/InformatorioPokedex/.vs
/InformatorioPokedex/InformatorioPokedex.Application/obj
/InformatorioPokedex/InformatorioPokedex.Application/bin
/InformatorioPokedex/InformatorioPokedex.Bussiness/obj
/InformatorioPokedex/InformatorioPokedex.Bussiness/bin
/InformatorioPokedex/InformatorioPokedex.Data/obj
/InformatorioPokedex/InformatorioPokedex.Data/bin
